<form class="form-horizontal" autocomplete="off" #inputForm="ngForm">
    <div class="card-header">
        <!-- <h3 *ngIf="!isEdit">{{'m4_child1.createTitle' | translate}}</h3> -->
        <h3>Điền thông tin</h3>
    </div>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Tên:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="name" [(ngModel)]="data.name" required />
            </div>
            <label class="col-md-2 col-form-label">
                Màn hình:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="screen" [(ngModel)]="data.screen" required />
            </div>
        </div>
        <div class="form-group row required ">
            <label class="col-md-2 col-form-label " for="account ">
                Danh mục
            </label>
            <div class="col-md-4 ">
                <mat-form-field style="width: 100%; height: 38px;" appearance="outline">
                    <mat-label class="text">Choose an category</mat-label>
                    <mat-select [(value)]="data.cate_id" required>
                        <mat-option *ngFor="let cate of categories" [value]="cate._id">
                            {{cate.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <label class="col-md-2 col-form-label">
                Camera:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="camera" [(ngModel)]="data.camera" required />
            </div>
        </div>
        <div class="form-group row required ">
            <label class="col-md-2 col-form-label " for="account ">
                Nhãn hiệu
            </label>
            <div class="col-md-4 ">
                <mat-form-field style="width: 100%; height: 38px;" appearance="outline">
                    <mat-label class="text">Choose an brand</mat-label>
                    <mat-select [(value)]="data.brand_id" required>
                        <mat-option *ngFor="let brand of brands" [value]="brand._id">
                            {{brand.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <label class="col-md-2 col-form-label">
                Cam trước:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="selfieCamera" [(ngModel)]="data.selfieCamera" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Giá:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="price" [(ngModel)]="data.price" required />
            </div>
            <label class="col-md-2 col-form-label">
                Ram:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="ram" [(ngModel)]="data.ram" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Giá KM
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="salePrice" [(ngModel)]="data.salePrice" required />
            </div>
            <label class="col-md-2 col-form-label">
                Bộ nhớ:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="capacity" [(ngModel)]="data.capacity" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Giá nhập:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="inputPrice" [(ngModel)]="data.inputPrice" required />
            </div>
            
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Số lượng
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="quantity" [(ngModel)]="data.quantity" required />
            </div>
            <label class="col-md-2 col-form-label">
                CPU:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="cpu" [(ngModel)]="data.cpu" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                GPU
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="gpu" [(ngModel)]="data.gpu" required />
            </div>
            <label class="col-md-2 col-form-label">
                Pin:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="power" [(ngModel)]="data.power" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Sim:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="sim" [(ngModel)]="data.sim" required />
            </div>
            <label class="col-md-2 col-form-label">
                Hệ điều hành:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="system" [(ngModel)]="data.system" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Nguồn gốc:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="origin" [(ngModel)]="data.origin" required />
            </div>
            <label class="col-md-2 col-form-label">
                Ngày phát hành:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="launched" [(ngModel)]="data.launched" required />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-2 col-form-label">
                Mô tả:
            </label>
            <div class="col-md-4">
                <input type="text" class=" form-control" name="description" [(ngModel)]="data.description" required />
            </div>
            <label class="col-md-2 col-form-label">
                Ảnh:
            </label>
            <div class="col-md-4">
                <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image"
                    autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="mat-dialog-actions">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close
            (click)="onNoClick()">Hủy</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="inputForm.form.invalid"
            class="saving-btn" mat-button cdkFocusInitial>Lưu</button>
    </div>
</form>