<form class="form-horizontal" autocomplete="off" #inputForm="ngForm">
    <div class="card-header">
        <!-- <h3 *ngIf="!isEdit">{{'m4_child1.createTitle' | translate}}</h3> -->
        <h3>Điền thông tin</h3>
    </div>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="holdername">
                Tên: 
            </label>
            <div class="col-md-9">
                <input type="text" class=" form-control" 
                    name="name" id="holdername" [(ngModel)]="data.name" required />
            </div>
        </div>
        <div class="form-group row required ">
            <label class="col-md-3 col-form-label " for="account ">
                Danh mục
            </label>
            <div class="col-md-9 ">
                <mat-form-field style="width: 100%; height: 38px;" appearance="outline">
                    <mat-label class="text">Choose an category</mat-label>
                    <mat-select [(value)]="data.cate_id" required>
                        <mat-option *ngFor="let cate of categories" [value]="cate._id">
                            {{cate.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="mat-dialog-actions">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close (click)="onNoClick()">Hủy</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="inputForm.form.invalid" class="saving-btn" mat-button  cdkFocusInitial>Lưu</button>
    </div>
</form>