<div >
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>Danh mục</h1>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="createItem()">
              <i class="fa fa-plus-square"></i>
              Tạo mới
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [(ngModel)]="searchText"
              />
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th style="width: 200px;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of categories | filter:searchText | paginate: { id: 'items_pagination', itemsPerPage: 5, currentPage: page, totalItems: totalRecords}">
                  <td>{{ categories.indexOf(item) + 1}}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm bg-secondary"
                      (click)="editItem(item)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                      Sửa
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-2"
                     (click)="deleteItem(item)"
                    >
                      <i class="fas fa-trash"></i>
                      Xóa
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" >
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              
              <pagination-controls  id="items_pagination"
                      (pageChange)="page = $event"
                      maxSize="6"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Prev"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
