<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Đăng nhập</h3>
      <div class="formGroup">
        <input type="text" class="form-control" placeholder="Tên đăng nhập" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="form-control" placeholder="Mật khẩu" #userPassword required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btn-primary btn-block" value="Đăng nhập"
          (click)="login(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <button type="button" class="btn btn-danger btn-block" (click)="ngAuthService.GoogleAuth()">
          Đăng nhập với Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/sign-up">Đăng ký</span>
      </div>
    </div>

    <!-- <div class="redirectToLogin">
      <span>Chưa đăng ký?<span class="redirect" routerLink="/sign-up"> Đăng ký</span></span>
    </div> -->

  </div>
</div>